<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<mapper namespace="mapperInterface의 경로입력"></mapper>을 작성해 인터페이스와 연결 -->
<mapper namespace="com.mvc.mapper.MemberMapper">

    <select id="getCityList" resultType="Test01">
        select c.id
             , c.name
          from city c
    </select>

</mapper>